:root {
    --text-color: #667085;
    --main-color: #8E2424;
  }

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
  }

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
    background-color: #f8f9fa;
}

.logo {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 10px;
}

.logo .cabecalho-titulo {
    font-size: 18px;
    font-weight: 500;
    color: #3A404E;
}

.links a {
    margin-right: 2rem;
    text-decoration: none;
    color: var(--text-color);
}

.botoes  button {
    padding: 10px 18px;
    gap: 8px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: var(--text-color);
    background: none;
    width: 112px;
    height: 44px;
    gap: 8px;
}

button#singup {
    background-color: #8E2424;
    color: #FFFFFF;
}

.principal-secao-sobre-nos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 0;
    gap: 1.5rem;

}

.principal-secao-sobre-nos h6 {
    font-family: inter;
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
}

.principal-secao-sobre-nos h1 {
    font-family: inter;
    font-size: 3rem;
    font-weight: 600;
    padding: 2rem;
    gap: 0.75rem;

}

.principal-secao-sobre-nos p {
    font-family: inter;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    color: var(--text-color);
    max-width: 49.5rem;
    
}

.metricas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2rem 6rem 2rem;
    gap: 4rem;
}

.metricas h2 {
   font-family: Inter;
   font-size: 3.75rem;
   font-weight: 600;
   color: var(--main-color);
}

.metricas h4 {
    font-family: Inter;
    font-size: 1.125rem;
    font-weight: 500;
    color: #101828;
    padding-top: 1.25rem;
}

.metricas p {
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    padding-top: 0.8rem;
}

.vagas-com-imagem {
    padding: 96px 0;
}

.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 6rem 0;
}

.vagas img {
    width: 100%;
    height: 602px;
}
.vagas h6 {
    text-align: center;
    font-family: Inter;
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--main-color);
    background-color: rgba(142, 36, 36, 0.05);
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
}

.vagas h2 {
    font-family: Inter;
    font-size: 2.25rem;
    font-weight: 600;
    text-align: center;
    color: rgba(16, 24, 40, 1);
}

.vagas p {
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    color: rgba(102, 112, 133, 1);
}

.vaga{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 20%;
    padding-bottom: 24px;
    
}

.vaga-titulo {
    font-family: Inter;
    font-size: 1.25rem;
    font-weight: 500;
    color: rgba(16, 24, 40, 1);
    gap: 4rem;
}

.vaga-product-design {
    border: solid 0.063rem;
    border-radius: 1rem;
    border-color: rgba(234, 236, 240, 1);
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    gap: 1.5rem;
}

.product-design-informacoes {
    display: flex;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(102, 112, 133, 1);

}

.vaga-ux-design {
    border: solid 0.063rem;
    border-radius: 1rem;
    border-color: rgba(234, 236, 240, 1);
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    gap: 1.5rem;
}

.ux-design-informacoes {
    display: flex;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(102, 112, 133, 1);
}

.vaga-desenvolvimento{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 20%;
    padding-top: 24px;
}

.vaga-desenvolvedor-soft {
    border: solid 0.063rem;
    border-radius: 1rem;
    border-color: rgba(234, 236, 240, 1);
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    gap: 1.5rem;
}

.desenvolvedor-soft-informacoes {
    display: flex;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(102, 112, 133, 1);
}

.vaga-desenvolvedor-front {
    border: solid 0.063rem;
    border-radius: 1rem;
    border-color: rgba(234, 236, 240, 1);
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    gap: 1.5rem;
}

.desenvoldor-front-informacoes {
    display: flex;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(102, 112, 133, 1);
}

.desenvolvedor-back-end {
    border: solid 0.063rem;
    border-radius: 1rem;
    border-color: rgba(234, 236, 240, 1);
    padding: 1.5rem 1.5rem 2rem 1.5rem;
    gap: 1.5rem;
}

.desenvolvedor-back-informacoes {
    display: flex;
    font-family: Inter;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(102, 112, 133, 1);
}

.depoimentos div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 64px;
    gap: 32px;
    margin-left: 300px;
    margin-right: 300px;
}




.depoimentos h6 {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    color: var(--main-color);
}

.depoimentos h2 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    text-align: center;
    color: rgba(16, 24, 40, 1);
    max-width: 1088px;
    max-height: 88px;
    padding-bottom: 30px;
}

.depoimentos img {
    image-resolution: 56px;
    padding-top: 20px;
}

.depoimentos h3 {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    color: rgba(16, 24, 40, 1);
}

.depoimentos p {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 0;
    gap: 32px;
}

.formulario h2 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 600;
    color: rgba(16, 24, 40, 1);
}

.formulario p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
}

.cadastro input {
    
    border: solid 1px;
    border-color: var(--text-color);
    color: var(--text-color);
    border-radius: 8px;
    padding: 12px 14px 12px 16px;
    box-shadow: none;
}

.cadastro button {
    background-color: var(--main-color);
    color: #f8f9fa;
    border-radius: 8px;
    padding: 12px 14px 12px 16px;
}

.formulario #direitos-pagina-inicial {
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    color: var(--text-color);
}
